p{
    font-weight: bold;
}
input[type=text]{
    border-radius: 5px;
}
.dashboard-table {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-right: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: left;
}
td,th{
    padding: 5px;
}
.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dashboard-btn {
    height: auto;
    width: auto;
    background-color: #0057CB;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-weight: bold;
}
.dashboard-btn:hover {
    background-color: #016eff;
}
