.profile-body {
    display: inline-block;
    margin-left: 5%;
}
.profile-header {
    height: 300px;
    width: 1190px;
    background-color: #14DBD1;
    border: 2px solid black;
    border-radius: 5px;
}
.profile-table {
    margin: 0;
    width: 1190px;
    font-weight: bold;
}
.profile-table td{
    border-bottom: 2px solid black;
    padding: 5px;
}